<nav class="navbar is-light is-fixed-top" role="navigation" aria-label="main navigation">

  <div class="navbar-brand">

    <a class="navbar-item" href="/"><strong>Lucas Inocente</strong></a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="nav-bar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>

  </div>

  <div id="nav-bar" class="navbar-menu">

      <div class="navbar-end">
          <a class="navbar-item" href="/sobre"><strong>Sobre mim</strong></a>
        <a class="navbar-item is-light" href="https://www.linkedin.com/in/lucasinocente/">Linkedin</a>
        <a class="navbar-item is-light" href="https://medium.com/@lucasinocente/">Medium</a>
        <a class="navbar-item is-light" href="https://github.com/lucasinocente">Github</a>
      </div>

  </div>

</nav>