body * {
  font-family: 'Open Sans', sans-serif;
}

.title,
.title a,
h1.title  {
  font-family: 'B612 Mono', monospace;
}

.container-page-content {
  max-width: 760px;
  font-size: 20px;
}

.container-page-content p {
  margin-bottom: 20px;
}

.video-full-width {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-full-width iframe,
.video-full-width object,
.video-full-width embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content img {
  display: block;
  margin: 10px auto;
}

.full-image {
  width: 100%;
  display: block;
  max-width: 1344px;
  margin: 0 auto;
}

.categories-list .button {
  margin-bottom: 10px;
}

.container-page-content p {
  margin: 30px 0px !important;
}

.likes {
  text-align: center;
}

#shapes {
  text-align: center;
  padding: 40px 0;
  margin: 0 auto;
  max-width: 725px;
}

#shapes.shapes-home {
  padding-bottom: 0;
}