
<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  {% include head.html %}
  <body>

    {% include header.html %}

    <section class="hero is-medium is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Lucas Inocente
          </h1>
          <h2 class="subtitle">
            Desenvolvedor Frond-End / Agilista @ APOIA.se
          </h2>
          <h3 class="subtitle">
              <strong>Comunicação, simplicidade, feedback, coragem e respeito.</strong>
          </h3>
        </div>
      </div>
    </section>
    <div id="shapes" class="shapes-home"></div>
    <section class="section">
        <div class="container">
          <h3 class="title">Posts</h3>
        </div>
        <br>
        <div class="container categories-list">
          {% for category in site.categories %}
            <a class="button is-medium" href="{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}">
              <strong>{{ category[0] }}</strong>
            </a>
          {% endfor %}
        </div>
        <br>
        <div class="container">
          <div class="columns is-multiline">
            {% for post in site.posts %}
              <div class="column is-half">
                <div class="card" data-url="{{ post.url }}">
                  <div class="card-content">
                    <div class="media">
                      <div class="media-content">
                        {% if post.external-url %}
                          <p class="title is-4"><a href="{{ post.external-url }}">{{ post.title }}</a></p>
                        {% else %}
                          <p class="title is-4"><a href="{{ post.url }}">{{ post.title }}</a></p>
                        {% endif %}
                        <p class="subtitle is-6">{{ post.subtitle }}</p>
                        <div>
                          {% if post.categories %}
                            <span class="tag is-primary is-medium">{{ post.categories }}</span>
                          {% endif %}
                          <time datetime="2016-1-1">{{ post.date | date: "%b %d, %Y" }}</time>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </section>

    {% include footer.html %}

  </body>
</html>

