
<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  {% include head.html %}
  <body>

    {% include header.html %}

    <section class="hero is-medium is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
              {{ page.title }}
          </h1>
          <h2 class="subtitle">
              {{ page.subtitle }}
          </h2>
          <h3 class="subtitle">
              Postado em: {{ page.date | date: "%d/%m/%Y" }}
          </h3>
        </div>
      </div>
    </section>

    {% if page.hero-image %}
      <img class="full-image" src="{{ page.hero-image }}" alt="{{ page.title }}">
    {% endif %}

    <section class="section">
      <div id="shapes"></div>
      {% if page.single-like != true %}
        <div class="likes">
          <iframe src="https://simple-like.appspot.com/like/?url={{ site.url }}{{ page.url }}" width="78" height="78" frameBorder="0"></iframe>
        </div>
      {% endif %}
      <div class="container container-page-content {{ page.container-class }}">
        <div class="content is-medium">
          {{ page.content }}
        </div>
        <div class="likes">
          <simple-like></simple-like>
        </div>
      </div>
    </section>

    {% include footer.html %}

  </body>
</html>

