
<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  {% include head.html %}
  <body>

    {% include header.html %}

    <section class="hero is-medium is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
              {{ page.title }}
          </h1>
          <h2 class="subtitle">
              {{ page.subtitle }}
          </h2>
          <h3 class="subtitle">
              Criado em: {{ page.date | date: "%b %d, %Y" }}
          </h3>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container container-page-content">
          <div class="content is-medium">
            {{ page.content }}
          </div>
      </div>
    </section>

    {% include footer.html %}

  </body>
</html>

