@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap');

html,
body {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 700;
  font-size: 36px;
}

p {
  font-weight: 400;
}

p a {
  background-color: #FFD550;
  padding: 2px 8px;
  border-radius: 6px;
}
